[Unit]
Description=Take a snapshot of %I

[Service]
Slice=background.slice
Type=oneshot
ExecStart=PREFIX/bin/btrfs-snapshot %I

[Install]
Also=btrfs-snapshot@%i.timer
Also=btrfs-snapshot-cleanup@%i.service
