[Unit]
Description=Cleanup snapshots of %f

[Service]
Type=oneshot
Slice=background.slice
Nice=10
CPUSchedulingPolicy=idle
IOSchedulingClass=idle
ExecStart=PREFIX/bin/btrfs-snapshot-cleanup %f

[Install]
Also=btrfs-snapshot-cleanup@%i.timer
